<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tea.mapper.UserMapper">
    <insert id="createUser" parameterType="UserRegisterDTO">
        insert into tb_user (name,password,nick,phone)
        select DISTINCT #{name},#{password},#{nick},#{phone}
        from tb_user where #{name} not in (select name from tb_user)
    </insert>
    <select id="queryOne" parameterType="UserLoginDTO" resultType="User">
        select * from tb_user where name = #{name} and password = #{password}
    </select>
    <select id="queryOneByName" parameterType="String" resultType="User">
        select * from tb_user where name = #{name}
    </select>
    <update id="editUser" parameterType="UserEditDTO">
        update tb_user set nick = #{nick},phone = #{phone} where name = #{name}
    </update>
    <update id="repass" parameterType="UserRepassDTO">
        update tb_user set password = #{newPass} where name = #{name}
    </update>
    <delete id="del" parameterType="String">
        delete from tb_user where name = #{name}
    </delete>
</mapper>